@import "common/variables.scss";

.about {
  @include flex(center, space-between);
  scroll-margin-top: 85px;

  &_text {
    width: 600px;
  }

  &_title {
    font-size: 48px;
  }

  &_description {
    margin: 15px 0 50px;
  }

  &_contact {
    display: inline-block;
    padding: 18px 26px;
    border-radius: 30px;
    background-color: rgba(87, 108, 188, 1);
  }

  &_picture {
    width: 250px;
    border-radius: 50%;
  }
}
