@import "common/variables.scss";

html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color: rgba(4, 21, 45, 1);
  color: #fff;
  font-family: "Inter";
}
section {
  max-width: 1300px;
  min-height: 100vh;
  @include flex(unset, center, column);
  padding: 25px 50px;
  margin: 0 auto;
  scroll-margin: 70px;
  // clip похоже по свойствам на hidden, но с hidden не работает scroll-margin
  overflow: clip;
  box-sizing: border-box;
}
a:hover {
  text-decoration: underline;
}
.section-title {
  font-size: 35px;
  margin-bottom: 50px;
}
.site-btn {
  width: fit-content;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  background-color: rgba(87, 108, 188, 1);
  transition: 0.4s;
  &:hover {
    background-color: rgb(10 31 115);
  }
}

@media (max-width: 700px) {
  body {
    padding-bottom: 20px;
  }
  section {
    padding: 15px 20px;
  }
  .section-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .section-title {
    font-size: 24px;
  }
}
