header {
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(4, 21, 45, 1);
}
.navigation {
  display: flex;
  justify-content: center;
}
.navigation_item {
  margin-right: 50px;
  font-size: 18px;
  font-weight: bold;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}
