body{
    margin: 0;
}
a{
    text-decoration: none;
    color: unset;
}
ul{
    padding: 0;
    margin: unset;
}
ul li{
    display: block;
}
button{
    background-color: unset;
    border: unset;
    cursor: pointer;
    padding: unset;
    font-family: unset;
    font-size: unset;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: unset;
}