html{
    scroll-behavior: smooth;
}
body{
    padding-bottom: 80px;
    position: relative;
    background-color: rgba(4, 21, 45, 1);
    color: #fff;
    font-family: "Inter";
}
section{
    max-width: 1300px;
    padding: 25px 50px;
    margin: 0 auto;
    scroll-margin-top: 70px;
}
.section-title{
    font-size: 35px;
    margin-bottom: 50px;
}
a:hover{
    text-decoration: underline;
}

@media (max-width:700px){
    body{
        padding-bottom: 40px;
    }
    section{
        padding: 15px 20px;
    }
    .section-title{
        font-size: 30px;
        margin-bottom: 20px;
    }
}
@media (max-width:400px){
    .section-title{
        font-size: 24px;
    }
}